/* GRID (story)
************** */

.row:after {
  content: "";
  display: table;
  clear: both; 
}

.column { 
  width: 100%; 
  float: left; 
  box-sizing: border-box;
  position: relative;
}

.column img {
  width: 100%;
  margin: 20px auto;
}

.column img.lazy {
  opacity: 0;
  transition: opacity .3s ease-in;
}

.column.half {
  width: 50%;
  margin-top: auto!important;
  margin-bottom: auto!important;
}

.column.half img {
  width: 98%;
  max-height: 300px;
  margin: 10px auto;
}

.column.half:first-child img {
    margin-left: 0; 
}

.column.half:last-child img { 
    margin-right: 0; 
}

.column hr {
  margin: 4% auto;
}


/* Story Layout
************** */
.featured-story {
  width: 100%;
  height: 680px;
  position: fixed;
  transition: transform 100ms linear;
  -webkit-transition: transform 100ms linear;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  text-align: center;
  z-index: -99;
}

.featured-story.hidden {
  display: none;
}
.featured-story.shown {
  display: block;
}

.content-container {
  position: relative;
  background: #fff;
  margin-top: 600px;
  z-index: 100;
}

.featured-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
}

.wiki {
  font-weight: 600;
  font-style: italic;
  line-height: 1.6em;
  padding: 4em 0 !important;
}

.featured-story#monterey {
  background-image: url('../images/stories/Monterey/featured.jpg');
}

.featured-story#yosemite {
  background-image: url('../images/stories/Yosemite/featured.jpg');
}

.featured-story#marin {
  background-image: url('../images/stories/Marin/featured.jpg');
}

.featured-story#sonoma2015 {
  background-image: url('../images/stories/Sonoma-2015/featured.jpg');
}

.featured-story#bangkok {
  background-image: url('../images/stories/Bangkok/featured.jpg');
}

.featured-story#thailand {
  background-image: url('../images/stories/Thailand/part-1/featured.jpg');
}

.featured-story#thailand2 {
  background-image: url('../images/stories/Thailand/part-2/featured.jpg');
}

.featured-story#pacifica {
  background-image: url('../images/stories/pacifica/featured.jpg');
}

.featured-story#sanfrancisco {
  background-image: url('../images/stories/San-Francisco/featured.jpg');
}

.featured-story#iceland {
  background-image: url('../images/stories/Iceland/featured.jpg');
}

.featured-story#lifestyle {
  background-image: url('../images/stories/Lifestyle/featured.jpg');
}

/*.images img {
  float: left;
  max-width: 300px;
  border: 4px solid #fff;
}*/




/* Story Title
************** */
.story-title {
  color: #fff;
  position: absolute;
  top: -400px;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  z-index: 999;
}

.story-title h1 {
  font-size: 3.2em;
  font-weight: 400;
  margin: 0 0 2px 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.story-date {
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 400;
  margin-bottom: 1.6em;
}

.story-subtitle {
  color: #fff;
  font-size: 1.6em;
}


.story-title.fadeOut {
  opacity: 0;
  top: 30%;
}

.story-title.fadeIn {
  opacity: 1;
  top: 40%;
}



/* Point on Map
************** */
.point {
  color: #222;
  border-top: 1px solid #fff;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.point a {
  display: block;
  opacity: 0;
  font-size: 0.6em;
  text-transform: uppercase;
  font-family: "museo-sans";
  font-weight: 600;
  line-height: 1.4em;
}

.point:hover {
  background: #fffef4;
}

.point:hover a {
  opacity: 1;
  -ms-transform: translate3d(0,2px,0);
  -webkit-transform: translate3d(0,2px,0);
  -moz-transform: translate3d(0,2px,0);
  -o-transform: translate3d(0,2px,0);
  transform: translate3d(0,2px,0);

  -ms-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.fi-anchor {
  padding-right: 0.6em;
}

.fi-anchor:before { 
  content: "\f106"; 
}



/* Next Destionation Banner
************** */
#next-destination {
  background: #222;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
  padding: 1em;
  color: #999999;
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0;
}

#next-destination.open, #next-destination.closed {
  -ms-transition: position 0.6s ease-in-out;
  -webkit-transition: position 0.6s ease-in-out;
  -moz-transition: position 0.6s ease-in-out;
  -o-transition: position 0.6s ease-in-out;
  transition: position 0.6s ease-in-out;
}

#close {
  width: 9px;
  height: 6px;
  background: transparent url(../images/icon-cross@2x.png);
  background-size: 9px 9px;
  color: #999;
  display: block;
  position: absolute;
  right: 5%;
  top: 16px;
  cursor: pointer;
}




/* Credit
************** */
.credit {
  position: absolute;
  left: 20px;
  bottom: 75px;
}

.credit span {
  background: #000;
  border-radius: 3px;
  color: #fff;
  opacity: 0;
  padding: 6px 6px;
  position: absolute;
  font-size: 0.7em;
  text-align: center;
  display: inline-block;
  width: 150px;
  font-weight: 600;

  -ms-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.column img:hover + .credit span {
  opacity: 0.6;
}

