div#next-destination.up Know the next destination I should travel to? 
    a(href='mailto:hello@julia.im') Shoot me an email!
    a#close

header.header-story.transparent
    .h-container
        a.back-button(href='/stories')
