doctype html
html
    include layout/head.jade

body
    include layout/header.jade

    section#main.home.animated.fadeInUp
        .text-home
            h2.subtitle Designer
            h1 Julia Khusainova
            p.description San Francisco, CA

            .currently
                .col
                    h2.subtitle Contact
                    p.description
                        a(href='mailto:hello@julia.im') hello@julia.im

        .text-home
            //- h2.subtitle Background
            //- p Originally from Russia, Julia graduated as a Software Engineer and evolved her professional path to 
            //-     span.accent User Interface 
            //-     | and 
            //-     span.accent Experience Design
            //-     | .
            //- p She enjoys collaborating with multiple design disciplines including interface, interaction and experience design, integrating knowledge gathered by user research and verified by prototyping.
            //- //- p Over the years she challenged herself with different types of design problem solving from freelance projects, to startups and big companies, shaping the product vision and designing visual language of products like 23snaps, YouConnect and Versal.
            //- p These days, Julia is happily employed as a 
            //-     span.accent Product Designer 
            //-     | at 
            //-     a(href='http://twitter.com/juliakhusainova' target='_blank') Twitter
            //-     | .
        

        //- include twitter.jade
        //- include fnote.jade
        include layout/social.jade
        include layout/footer.jade

        script.
            var page = $.julia('home');
