doctype html
html
    include ../layout/head.jade

    //- script(src='http://d3js.org/d3.v3.min.js')
    //- script(src='../js/datamaps.world.min.js')
    //- script(src='../js/topojson.js')

    body
        include ../layout/header.jade

        section#main.animated.fadeInUp
            .text-home
                h2.subtitle On this page
                h1 Projects
                p.description I have worked with people from all over the world
                hr

            //- .h-container
            //-     #world-map

            //- .hidden
            //-     .h-container
            //-         p.large Delivering smooth user experience through pixel perfection.

            .section-works
                .h-container
                    a.project(target='_blank' href='http://twitter.com/juliakhusainova')
                        .item
                            .overlay(style='background: #55acee')
                                img(src='/images/works/logo_twitter_fff@2x.png' width='64' height='52')
                            img(src='/images/works/logo_twitter_ddd@2x.png' width='64' height='52')

                    a.project(target='_blank' href='')
                        .item
                            .overlay(style='background: #3a968a')
                                img(src='/images/works/logo_versal_fff@2x.png' width='128' height='33')
                            img(src='/images/works/logo_versal_ddd@2x.png' width='128' height='33')

                    a.project(target='_blank' href='https://dribbble.com/juliakhusainova/projects/265179-YouConnect')
                        .item
                            .overlay(style='background: #7cc3d0')
                                img(src='/images/works/logo_youconnect_fff@2x.png' width='128' height='90')
                            img(src='/images/works/logo_youconnect_ddd@2x.png' width='128' height='90')

                    a.project(target='_blank' href='http://23snaps.com')
                        .item
                            .overlay(style='background: #df4600')
                                img(src='/images/works/logo_23snaps_fff@2x.png' width='131' height='53')
                            img(src='/images/works/logo_23snaps_ddd@2x.png' width='131' height='53')

                    a.project(target='_blank' href='http://dribbble.com/juliakhusainova/projects/121988-Net')
                        .item
                            .overlay(style='background: #0abab5')
                                img(src='/images/works/logo_netizaar_fff@2x.png' width='128' height='78')
                            img(src='/images/works/logo_netizaar_ddd@2x.png' width='128' height='78')

                    a.project(target='_blank' href='http://roadacious.com/')
                        .item
                            .overlay(style='background: #93c800')
                                img(src='/images/works/logo_roadacious_fff@2x.png' width='131' height='41')
                            img(src='/images/works/logo_roadacious_ddd@2x.png' width='131' height='41')

                    a.project(target='_blank' href='https://dribbble.com/juliakhusainova/projects/132283-Poosh')
                        .item
                            .overlay(style='background: #2595cf')
                                img(src='/images/works/logo_poosh_fff@2x.png' width='79' height='45')
                            img(src='/images/works/logo_poosh_ddd@2x.png' width='79' height='45')

                    a.project(target='_blank' href='https://dribbble.com/shots/621559-Homepage')
                        .item
                            .overlay(style='background: #f36506')
                                img(src='/images/works/logo_nextguru_fff@2x.png' width='134' height='21')
                            img(src='/images/works/logo_nextguru_ddd@2x.png' width='134' height='21')

                    a.project(target='_blank' href='http://dribbble.com/juliakhusainova/projects/57421-Sweetr')
                        .item
                            .overlay(style='background: #f05e53')
                                img(src='/images/works/logo_sweetr_fff@2x.png' width='130' height='41')
                            img(src='/images/works/logo_sweetr_ddd@2x.png' width='130' height='41')


            include ../layout/fnote.jade
            include ../layout/social.jade
            include ../layout/footer.jade

            script.
                var page = $.julia('projects');
            
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-45900882-1', 'auto');
                ga('send', 'pageview');
