extends ../layout/projects/project.jade
block content

    section#main.project-page
        .featured-project#android-design-guidelines
            .h-container
                a.back-button(href='/blog')

            .project-title
                .h-container
                    h1 Twitter NUX
                    p.project-subtitle The ultimate guide for designing with Google
    
    .h-container
        .row
            .content
                p
                    span.first A
                    | ndroid is one of the most popular platforms for designing and building applications. Tablets, phones, glasses and many other devices run Android OS. With such a great variety of screen sizes, resources and style guides designing for Android can be intimidating for a designer, but it shouldn't be. I gathered the essential resources and best practices on how to design Android application on any platform.
                p.footnote-small The guide isn't meant to replace the official documentation by Google but rather help understand basic principles of designing for Google. We also going to be looking into latest design guidelines by Google which emraces the concept of Material Design.
