extends ../layout/blog/article.jade
block append meta
    meta(property='og:url', content='http://julia.im/blog/designing-product')
    meta(property='og:type', content='website')

block content

    section#main.article-page
        .featured-article#my-design-process
            .h-container
                a.back-button(href='/blog')

            .article-title
                .h-container
                    h1 My Design Process
                    p.article-subtitle From idea to product
    
    .h-container
        .row
            .content
                p
                    span.first D
                    | esign products is a craft.

                h2 Idea
                p The idea of 361 came from my passion to travel and desire to plan and share my experience. The typical process of preparing for trip is pretty long and somewhat painful. Let's take my recent preparation to Iceland trip as an example.
                p The decision to go to Iceland came from googling best places to go. This is what typically travelers do before they decide on the next destination. I usually go to TripAdvisor for place recommendations as well travelers blogs to get to know the place I'm going to better.
                p Next step is to map out the spots on the Google map. Below is an example from my trip to Seattle from May 2014. I have to admit it's super inconvnient and I never end up using this map either for pore connectivity reasons or simply because it's hard to think the navigation through before you actually arrive at your destination.
                .row
                    .column
                        img(src='/images/blog/my-design-process/map.png' alt='')

                p Once I decide on destination I go to kayak.com, expedia.com to buy tickets, book hotels and finish off other housekeeping stuff.
                p Since photography and storytelling are big parts of my traveling experience, I'm constantly looking for places to share my photos and memories from a trip. So far, I found VSCO, Instagram and Twitter to be my best friends in this journey.
                p But I was yet to find a perfect one go-to place to do it all.
                p This is how the idea of 361 was born.

                h2 First sketches
                p I find skecting process to be exteremly important in product design process. You don't have to use any fancy tools in hand to start first steps of building your product. All you need is a pencil and a sketchbook. I prefer Dot Grid book and always use it at work for sketching flow diagrams, quick data structure visualization or simply doodling to clear off my mind.

                .row
                    .column
                        img(src='/images/blog/my-design-process/1.jpg' alt='')

                p The best part of sketches is you can have a lot of fun with it and go in any different directions that 

                h2 Wireframes
                p Since freelancing 

                .row
                    .column
                        img(src='/images/blog/my-design-process/wireframes.png' alt='')


                h2 Designing Experiences
                p 

                .row
                    .column
                        img(src='/images/blog/my-design-process/Untitled-2.png' alt='')

                h2 User Interactions
                p One of the final touches on UI is user interactions. Animation and transitions can make the interface look alive.

                include ../layout/comments.jade

        .row
            .column
                include ../layout/share.jade
                p.footnote Technical details: Canon 5d Mark III &bull; 50mm 1.4 &bull; 100mm Macro 2.8L &bull; VSCO film processing
        .row
            .column
                include ../layout/subscribe.jade
