extends ../layout/stories/story.jade
block append meta
    meta(property='og:url', content='http://julia.im/stories/iceland-part-1')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Story about ' + stories.iceland.title + ' by Julia Khusainova')
    meta(property='og:image', content='http://julia.im/images/stories/' + stories.iceland.img + '/thumb_600.jpg')
    meta(property='og:description', content=stories.iceland.description)

    link(rel='http://julia.im/images/stories/' + stories.iceland.img + '/thumb_600.jpg', type="image/jpeg", href='http://julia.im/images/stories/' + stories.iceland.img)

block content

    section#main.story-page
        .featured-story#iceland
        .featured-overlay

        .story-title
            .h-container
                .story-date June 2015
                h1 #{stories.iceland.title}
                p.story-subtitle #{stories.iceland.description}
    .h-container.content-container
        .row
            .text
                p The country of vikings greeted us with rain.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/4.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/8.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/9.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .text
                p Our next stop was Blue Lagoon...
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/11.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/12.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/13.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/14.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/15.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p.point
                        span.fi-anchor
                        | Blue Lagoon
                        a(href='https://www.google.com/maps/place/Khaosan+Rd,+Khet+Phra+Nakhon,+Krung+Thep+Maha+Nakhon+10200,+Thailand/@13.7589615,100.4971845,17z/data=!4m7!1m4!3m3!1s0x30e29912cab71d0d:0x40b71c7b0079a776!2sKhaosan+Rd,+Khet+Phra+Nakhon,+Krung+Thep+Maha+Nakhon+10200,+Thailand!3b1!3m1!1s0x30e29912cab71d0d:0x40b71c7b0079a776' target='_blank') View on map

        .row
            .text
                p Kerið is a volcanic crater lake located in the Grímsnes area in south Iceland.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/43.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/38.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/42.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/40.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p.point
                        span.fi-anchor
                        | Crater Kerið
                        a(href='https://www.google.com/maps/place/Khaosan+Rd,+Khet+Phra+Nakhon,+Krung+Thep+Maha+Nakhon+10200,+Thailand/@13.7589615,100.4971845,17z/data=!4m7!1m4!3m3!1s0x30e29912cab71d0d:0x40b71c7b0079a776!2sKhaosan+Rd,+Khet+Phra+Nakhon,+Krung+Thep+Maha+Nakhon+10200,+Thailand!3b1!3m1!1s0x30e29912cab71d0d:0x40b71c7b0079a776' target='_blank') View on map
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/53.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/60.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/57.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/68.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/71.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p.point
                        span.fi-anchor
                        | Geyser
                        a(href='https://www.google.com/maps/place/Khaosan+Rd,+Khet+Phra+Nakhon,+Krung+Thep+Maha+Nakhon+10200,+Thailand/@13.7589615,100.4971845,17z/data=!4m7!1m4!3m3!1s0x30e29912cab71d0d:0x40b71c7b0079a776!2sKhaosan+Rd,+Khet+Phra+Nakhon,+Krung+Thep+Maha+Nakhon+10200,+Thailand!3b1!3m1!1s0x30e29912cab71d0d:0x40b71c7b0079a776' target='_blank') View on map
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/59.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/82.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p.point
                        span.fi-anchor
                        | Gullfoss
                        a(href='https://www.google.com/maps/place/Khaosan+Rd,+Khet+Phra+Nakhon,+Krung+Thep+Maha+Nakhon+10200,+Thailand/@13.7589615,100.4971845,17z/data=!4m7!1m4!3m3!1s0x30e29912cab71d0d:0x40b71c7b0079a776!2sKhaosan+Rd,+Khet+Phra+Nakhon,+Krung+Thep+Maha+Nakhon+10200,+Thailand!3b1!3m1!1s0x30e29912cab71d0d:0x40b71c7b0079a776' target='_blank') View on map

        .row
            .column
                .text
                    p We decided to camp near the beautiful waterfall named Skogafoss.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/61.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/64.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p.point
                        span.fi-anchor
                        | Skogafoss
                        a(href='https://www.google.com/maps/place/Khaosan+Rd,+Khet+Phra+Nakhon,+Krung+Thep+Maha+Nakhon+10200,+Thailand/@13.7589615,100.4971845,17z/data=!4m7!1m4!3m3!1s0x30e29912cab71d0d:0x40b71c7b0079a776!2sKhaosan+Rd,+Khet+Phra+Nakhon,+Krung+Thep+Maha+Nakhon+10200,+Thailand!3b1!3m1!1s0x30e29912cab71d0d:0x40b71c7b0079a776' target='_blank') View on map
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/95.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p.point
                        span.fi-anchor
                        | Dyrhólaey
                        a(href='https://www.google.com/maps/place/Khaosan+Rd,+Khet+Phra+Nakhon,+Krung+Thep+Maha+Nakhon+10200,+Thailand/@13.7589615,100.4971845,17z/data=!4m7!1m4!3m3!1s0x30e29912cab71d0d:0x40b71c7b0079a776!2sKhaosan+Rd,+Khet+Phra+Nakhon,+Krung+Thep+Maha+Nakhon+10200,+Thailand!3b1!3m1!1s0x30e29912cab71d0d:0x40b71c7b0079a776' target='_blank') View on map
        .row
            .column
                .text
                    p The real Icelandic beauty can be found near the ice lake Jökulsárlón.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/96.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/100.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/103.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/106.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/113.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland.img + '/114.jpg' alt='Story about ' + stories.iceland.title + ' by Julia Khusainova')
        .row
            .column
                include ../layout/comments.jade
        .row
            .column
                .travel-span
                p.interest Point of interest: Iceland
                hr
        .row
            .column
                include ../layout/share.jade
                p.footnote Technical details: Canon 5d Mark III &bull; 50mm 1.4 &bull; 100mm Macro 2.8L &bull; VSCO film processing
        .row
            .column
                include ../layout/subscribe.jade
