extends ../layout/stories/story.jade
block append meta
    meta(property='og:url', content='http://julia.im/stories/iceland-part-3')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Story about ' + stories.iceland.title + ' by Julia Khusainova')
    meta(property='og:image', content='http://julia.im/images/stories/' + stories.iceland.img + '/thumb_600.jpg')
    meta(property='og:description', content=stories.iceland.description)

    link(rel='http://julia.im/images/stories/' + stories.iceland.img + '/thumb_600.jpg', type="image/jpeg", href='http://julia.im/images/stories/' + stories.iceland.img)

block content

    section#main.story-page
        .featured-story#iceland
        .featured-overlay

        .story-title
            .h-container
                .story-date June 2015
                h1 #{stories.iceland.title}
                p.story-subtitle #{stories.iceland.description}
    .h-container.content-container
        .row
            .text
                p The country of vikings greeted us with rain.
        .row
            .column
                include ../layout/comments.jade
        .row
            .column
                .travel-span
                p.interest Point of interest: Iceland
                hr
        .row
            .column
                include ../layout/share.jade
                p.footnote Technical details: Canon 5d Mark III &bull; 50mm 1.4 &bull; 100mm Macro 2.8L &bull; VSCO film processing
        .row
            .column
                include ../layout/subscribe.jade
