extends ../layout/stories/story.jade
block append meta
    meta(property='og:url', content='http://julia.im/stories/iceland-part-2')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Story about ' + stories.iceland2.title + ' by Julia Khusainova')
    meta(property='og:image', content='http://julia.im/images/stories/' + stories.iceland2.img + '/thumb_600.jpg')
    meta(property='og:description', content=stories.iceland2.description)

    link(rel='http://julia.im/images/stories/' + stories.iceland2.img + '/thumb_600.jpg', type="image/jpeg", href='http://julia.im/images/stories/' + stories.iceland.img)

block content

    section#main.story-page
        .featured-story#iceland2
        .featured-overlay

        .story-title
            .h-container
                .story-date June 2015
                h1 #{stories.iceland2.title}
                p.story-subtitle #{stories.iceland2.description}
    .h-container.content-container
        .row
            .column
                .text 
                    p Iceland people are blessed to live surrounded by beautiful nature, fresh water and endless fields of green grass. Agriculture, catle breeding and plowing are all big parts of everyday icelandic living.
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland2.img + '/48.jpg' alt='Story about ' + stories.iceland2.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland2.img + '/49.jpg' alt='Story about ' + stories.iceland2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland2.img + '/46.jpg' alt='Story about ' + stories.iceland2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland2.img + '/51.jpg' alt='Story about ' + stories.iceland2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland2.img + '/89.jpg' alt='Story about ' + stories.iceland2.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland2.img + '/55.jpg' alt='Story about ' + stories.iceland2.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland2.img + '/54.jpg' alt='Story about ' + stories.iceland2.title + ' by Julia Khusainova')

        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland2.img + '/58.jpg' alt='Story about ' + stories.iceland2.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland2.img + '/50.jpg' alt='Story about ' + stories.iceland2.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland2.img + '/69.jpg' alt='Story about ' + stories.iceland2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland2.img + '/67.jpg' alt='Story about ' + stories.iceland2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland2.img + '/56.jpg' alt='Story about ' + stories.iceland2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland2.img + '/78.jpg' alt='Story about ' + stories.iceland2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.iceland2.img + '/96.jpg' alt='Story about ' + stories.iceland2.title + ' by Julia Khusainova')
        .row
            .column
                include ../layout/comments.jade
        .row
            .column
                .travel-span
                p.interest Point of interest: Iceland
                hr
        .row
            .column
                include ../layout/share.jade
                p.footnote Technical details: Canon 5d Mark III &bull; 50mm 1.4 &bull; 100mm Macro 2.8L &bull; VSCO film processing
        .row
            .column
                include ../layout/subscribe.jade
