extends ../layout/stories/story.jade
block append meta
    meta(property='og:url', content='http://julia.im/stories/islands-thailand-part-2')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
    meta(property='og:image', content='http://julia.im/images/stories/' + stories.thailand2.img + '/thumb_600.jpg')
    meta(property='og:description', content=stories.thailand2.description)

    link(rel='http://julia.im/images/stories/' + stories.thailand2.img + '/thumb_600.jpg', type="image/jpeg", href='http://julia.im/images/stories/' + stories.thailand2.img)

block content

    section#main.story-page
        .featured-story#thailand2
        .featured-overlay

        .story-title
            .h-container
                .story-date June 2014
                h1 #{stories.thailand2.title}
                p.story-subtitle #{stories.thailand2.description}
    .h-container.content-container
        .row
            .text
                h2 Krabi (เกาะไก่)
        
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/61.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
        .row 
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/62.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/64.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/63.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/65.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/67.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/68.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/72.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/74.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
        
        .row
            .column
                .text
                    p The sunset...
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/71.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/73.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/70.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')

        .row
            .column
                .text
                    p We rented a boat to get to another beach...
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/75.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/76.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/77.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')

        .row
            .text
                h2 Koh Phi Phi Lee (เกาะพีพีเล)
                p Last island we visited before going back to Bangkok. Didn't spend much time there, but went for a nice few hours hike in jungles and managed to get to the top to observe the beautiful island.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/79.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/78.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/80.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand2.img + '/82.jpg' alt='Story about ' + stories.thailand2.title + ' by Julia Khusainova')

        .row
            .column
                include ../layout/comments.jade
        .row
            .column
                .travel-span
                p.interest Point of interest: Islands of Thailand
                hr
        .row
            .column
                include ../layout/share.jade
                p.footnote Technical details: Canon 5d Mark III &bull; 50mm 1.4 &bull; 100mm Macro 2.8L &bull; VSCO film processing
        .row
            .column
                include ../layout/subscribe.jade
