extends ../layout/stories/story.jade
block append meta
    meta(property='og:url', content='http://julia.im/stories/islands-thailand-part-1')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Story about ' + stories.thailand.title + ' by Julia Khusainova')
    meta(property='og:image', content='http://julia.im/images/stories/' + stories.thailand.img + '/thumb_600.jpg')
    meta(property='og:description', content=stories.thailand.description)

    link(rel='http://julia.im/images/stories/' + stories.thailand.img + '/thumb_600.jpg', type="image/jpeg", href='http://julia.im/images/stories/' + stories.thailand.img)

block content

    section#main.story-page
        .featured-story#thailand
        .featured-overlay

        .story-title
            .h-container
                .story-date June 2014
                h1 #{stories.thailand.title}
                p.story-subtitle #{stories.thailand.description}
    .h-container.content-container
        .row
            .text
                p.wiki Ko Samui, one of Thailand’s largest islands in the Gulf of Thailand, is known for its palm-fringed beaches circling coconut groves and dense, mountainous rainforest. It’s also home to luxury resorts, posh spas and a rowdy nightlife scene that often attracts a backpacker crowd.
                //- p Area: 88.3 mi² (228.7 km²)
                //- p Max length: 15.53 miles (25 km)
                //- p Max width: 13.05 miles (21 km)
                //- p Population: 62,500 (2012)

                h2 Koh Samui (เกาะสมุย)
                p The first island we landed at after Bangkok was Koh Samui. It's ideal for a romantic vacation.
               
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/2.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/3.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')
        .row
            .text
                p Warm sand, palm trees, ocean and fresh air are all the ingredients needed for a perfect summer.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/12.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')    
        .row
            .column
                .text
                    p The sunset on the island is incredibly beautiful. If you can stand mosquitoes, go tour the island at night. You won't regret the experience.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/10.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')        
        .row
            .column
                .text
                    p Jungles are a big part of Koh Samui's ecosystem. It's fun to ride the motobike through the green paradise! By the way, Thais drive on the left side of the road.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/26.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')        
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/22.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/23.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p On my birthday I was drinking coconut eggnog and looking at this beautiful island. Can I beat it next year?
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/35.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')        
        .row
            .column
                .text
                    p The next day we went to see Hin Lat Waterfall running heavily down the mountain rocks.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/34.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/32.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p.point
                        span.fi-anchor
                        | Hin Lat Waterfall
                        a(href='https://www.google.com/maps/place/Hin+Lat+Waterfall/@9.5212176,99.9664393,13z/data=!4m3!3m2!1s0x0:0x3417a823c83267f3!4b1' target='_blank') View on map
        .row
            .column
                .text
                    p Nice thoughts over breakfast by the beach...
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/36.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')
        .row
            .text
                h2 Koh Tao (เกาะเต่า)
                p We bought tickets to Koh Tao and hopped on a ferry. It was a fun ride - ice cream, beers and good company.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/40.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/42.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')
                .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/51.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/52.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')
                .credit
                    span Photo credit: Dylan Pyle
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/54.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')
        .row
            .text
                p Koh Tao is an island of fun, partying and diving. We made new friends, visited the Castle Party and drank enormous amounts of coconut cocktails of all kinds, colors and tastes. Good times!
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/55.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.thailand.img + '/57.jpg' alt='Story about ' + stories.thailand.title + ' by Julia Khusainova')
        .row
            .text
                p We were hiking, diving, snorkeling, riding the motobike, lying on the hot sand under the generous Thai sun during the day and partying as the moon came up.
                p But that's not all the adventures we had. Stay tuned for Part 2 of my Thailand story!
        .row
            .column
                include ../layout/comments.jade
        .row
            .column
                .travel-span
                p.interest Point of interest: Islands of Thailand
                hr
        .row
            .column
                include ../layout/share.jade
                p.footnote Technical details: Canon 5d Mark III &bull; 50mm 1.4 &bull; 100mm Macro 2.8L &bull; VSCO film processing
        .row
            .column
                include ../layout/subscribe.jade
