extends ../layout/stories/story.jade
block append meta

block content

    div(style='height:100px')
    .h-container
        .images
            img(src='/images/stories/Lifestyle/5.jpg' alt='Story about life style by Julia Khusainova')
            img(src='/images/stories/Lifestyle/6.jpg' alt='Story about life style by Julia Khusainova')
            img(src='/images/stories/Lifestyle/16.jpg' alt='Story about life style by Julia Khusainova')
            img(src='/images/stories/Lifestyle/7.jpg' alt='Story about life style by Julia Khusainova')
            img(src='/images/stories/Lifestyle/10.jpg' alt='Story about life style by Julia Khusainova')
            img(src='/images/stories/Lifestyle/11.jpg' alt='Story about life style by Julia Khusainova')
            img(src='/images/stories/Lifestyle/12.jpg' alt='Story about life style by Julia Khusainova')
            img(src='/images/stories/Lifestyle/15.jpg' alt='Story about life style by Julia Khusainova')
            img(src='/images/stories/Lifestyle/20.jpg' alt='Story about life style by Julia Khusainova')
            img(src='/images/stories/Lifestyle/17.jpg' alt='Story about life style by Julia Khusainova')
            img(src='/images/stories/Lifestyle/18.jpg' alt='Story about life style by Julia Khusainova')
            img(src='/images/stories/Lifestyle/19.jpg' alt='Story about life style by Julia Khusainova')

        .row
            .column
                include ../layout/share.jade
                p.footnote Technical details: Canon 400d &bull; 50mm 1.4 &bull; VSCO film processing
        .row
            .column
                include ../layout/subscribe.jade
