extends ../layout/stories/story.jade
block append meta
    meta(property='og:url', content='http://julia.im/stories/marin')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Story about ' + stories.marin.title + ' by Julia Khusainova')
    meta(property='og:image', content='http://julia.im/images/stories/' + stories.marin.img + '/thumb_600.jpg')
    meta(property='og:description', content=stories.marin.description)

    link(rel='http://julia.im/images/stories/' + stories.marin.img + '/thumb_600.jpg', type="image/jpeg", href='http://julia.im/images/stories/' + stories.marin.img)

block content

    section#main.story-page
        .featured-story#marin
        .featured-overlay

        .story-title
            .h-container
                .story-date April 2014
                h1 #{stories.marin.title}
                p.story-subtitle #{stories.marin.description}
    .h-container.content-container
        .row
            .text
                p.wiki Marin County is a county located in the North San Francisco Bay Area of the State of California. As of the 2010 census, the population was 252,409. Its county seat is San Rafael.
                p Population: 258,365 (2013)
                p Area: 828 sq miles (2,145 km)
                p Rivers: Lagunitas Creek, Walker Creek, Corte Madera Creek
        .row
            .column
                img(src='/images/stories/Marin/3.jpg' alt='Story about Marin by Julia Khusainova')
        .row
            .column.half
                img(src='/images/stories/Marin/7.jpg' alt='Story about Marin by Julia Khusainova')
            .column.half
                img(src='/images/stories/Marin/10.jpg', alt='Story about Marin by Julia Khusainova')
        .row
            .column
                img(src='/images/stories/Marin/6.jpg' alt='Story about Marin by Julia Khusainova')
        .row
            .column
                img(src='/images/stories/Marin/4.jpg' alt='Story about Marin by Julia Khusainova')
        .row
            .column.half
                img(src='/images/stories/Marin/15.jpg' alt='Story about Marin by Julia Khusainova')
            .column.half
                img(src='/images/stories/Marin/14.jpg' alt='Story about Marin by Julia Khusainova')
        .row
            .column
                img(src='/images/stories/Marin/2.jpg' alt='Story about Marin by Julia Khusainova')
        .row 
            .column
                img(src='/images/stories/Marin/23.jpg', alt='Story about Marin by Julia Khusainova')
        .row
            .column
                .text
                    h2 In the fog
                    p Beautiful fog came down to Marin County some time and covers 
        .row
            .column
                img(src='/images/stories/Marin/16.jpg', alt='Story about Marin by Julia Khusainova')
        .row
            .column
                img(src='/images/stories/Marin/17.jpg', alt='Story about Marin by Julia Khusainova')
        .row
            .column.half
                img(src='/images/stories/Marin/18.jpg', alt='Story about Marin by Julia Khusainova')
            .column.half
                img(src='/images/stories/Marin/19.jpg', alt='Story about Marin by Julia Khusainova')
        .row
            .column
                img(src='/images/stories/Marin/30.jpg', alt='Story about Marin by Julia Khusainova')
        .row
            .column
                include ../layout/comments.jade
        .row
            .column
                .travel-span
                p.interest Point of interest: Marin, CA, USA
                hr
        .row
            .column
                include ../layout/share.jade
                p.footnote Technical details: Canon 400d &bull; 50mm 1.4 &bull; VSCO film processing
        .row
            .column
                include ../layout/subscribe.jade
