extends ../layout/stories/story.jade
block append meta
    meta(property='og:url', content='http://julia.im/stories/reykjavik')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
    meta(property='og:image', content='http://julia.im/images/stories/' + stories.reykjavik.img + '/thumb_600.jpg')
    meta(property='og:description', content=stories.reykjavik.description)

    link(rel='http://julia.im/images/stories/' + stories.reykjavik.img + '/thumb_600.jpg', type="image/jpeg", href='http://julia.im/images/stories/' + stories.reykjavik.img)

block content

    section#main.story-page
        .featured-story#reykjavik
        .featured-overlay

        .story-title
            .h-container
                .story-date June 2015
                h1 #{stories.reykjavik.title}
                p.story-subtitle #{stories.reykjavik.description}
    .h-container.content-container
        .row
            .text
                h2 The streets of Nothern capital
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/22.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/23.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/24.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/25.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/38.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')

        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/36.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/28.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')        
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/27.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/31.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/34.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/32.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/29.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/33.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/37.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')




        .row
            .column
                include ../layout/comments.jade
        .row
            .column
                .travel-span
                p.interest Point of interest: reykjavik
                hr
        .row
            .column
                include ../layout/share.jade
                p.footnote Technical details: Canon 5d Mark III &bull; 50mm 1.4 &bull; 100mm Macro 2.8L &bull; VSCO film processing
        .row
            .column
                include ../layout/subscribe.jade
