extends ../layout/stories/story.jade
block append meta
    meta(property='og:url', content='http://julia.im/stories/reykjavik')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
    meta(property='og:image', content='http://julia.im/images/stories/' + stories.reykjavik.img + '/thumb_600.jpg')
    meta(property='og:description', content=stories.reykjavik.description)

    link(rel='http://julia.im/images/stories/' + stories.reykjavik.img + '/thumb_600.jpg', type="image/jpeg", href='http://julia.im/images/stories/' + stories.reykjavik.img)

block content

    section#main.story-page
        .featured-story#reykjavik
        .featured-overlay

        .story-title
            .h-container
                .story-date June 2015
                h1 #{stories.reykjavik.title}
                p.story-subtitle #{stories.reykjavik.description}
    .h-container.content-container
        .row
            .column
                .text
                    p.wiki Reykjavik, Iceland's coastal capital, is renowned for the late-night clubs and bars in its compact center. It's home to the National and Saga museums, tracing Iceland’s Viking history. The striking concrete Hallgrimskirkja church and rotating Perlan glass dome offer sweeping views of the sea and nearby hills. Exemplifying the island’s dramatic landscape is the volcanic setting of the geothermal Blue Lagoon spa.
                
                    .column.half
                        .globe-span
                        p.icontitle Timezone: GMT+0
                    .column.half
                        .money-span
                        p.icontitle Currency: Króna

        .row
            .text
                h2 The streets of Nothern capital
                p The city is very colorful, welcoming guests into cozy artistic shops and cafes.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/22.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/23.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/24.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/25.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/36.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/28.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')        
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/40.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/41.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/43.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/27.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        
        .row
            .column
                .text
                    p.point
                        span.fi-anchor
                        | Gló
                        a(href='https://www.google.com/maps/place/Gl%C3%B3/@64.1456295,-21.9294215,15z/data=!4m2!3m1!1s0x0:0x36cd5430ef772a56?sa=X&ved=0ahUKEwjd2M6AjbrKAhUM72MKHRK_CkIQ_BIIfjAK' target='_blank') View on map
        .row
            .column
                .text
                    p Beautiful white concrete church Hallgrímskirkja dominates the skyline.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/46.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/38.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
                .credit
                    span Photo credit: Dylan Pyle
        .row
            .column
                .text
                    p.point
                        span.fi-anchor
                        | Hallgrimskirkja
                        a(href='https://www.google.com/maps/place/Hallgrimskirkja/@64.1417149,-21.9266371,15z/data=!4m2!3m1!1s0x0:0xf7af28c4489daaef' target='_blank') View on map
        
        .row
            .text
                p Streets and cats of Reykjavik:
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/39.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/32.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
       
        .row
            .text
                p Nightlife in the city is pretty chill, a great mix of diversity and European chic.
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/47.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/44.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
  
        .row
            .column
                .text
                    p.point
                        span.fi-anchor
                        | B5
                        a(href='https://www.google.com/maps/place/B5/@64.1468024,-21.9345101,14z/data=!4m2!3m1!1s0x0:0xb16298abc92b0076' target='_blank') View on map
        .row
            .text
                p The beautiful scenery on the way to our hotel:
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/37.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')

        .row
            .text
                p The sun never set in June so this is as close as we could get to a sunset:
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.reykjavik.img + '/33.jpg' alt='Story about ' + stories.reykjavik.title + ' by Julia Khusainova')
        
        .row
            .column
                include ../layout/comments.jade
        .row
            .column
                .travel-span
                p.interest Point of interest: Reykjavik
                hr
        .row
            .column
                include ../layout/share.jade
                p.footnote Technical details: Canon 5d Mark III &bull; 50mm 1.4 &bull; 100mm Macro 2.8L &bull; VSCO film processing
        .row
            .column
                include ../layout/subscribe.jade
