.fnote
  .currently
    .col
        h2.subtitle Currently
        p These days I'm happily employed as 
          span.accent Senior Product Designer 
          | at 
          a(href='http://shyp.com', target='_blank') Shyp
    .col
        h2.subtitle Contact
        p
          If Feel free to drop me a line at 
            a(href='mailto:hello@julia.im') hello@julia.im.
    //- If you have any feedback, question or simply want to say "Hi!" feel free to drop me a line at 
    //-     a(href='mailto:hello@julia.im') hello@julia.im.
