header.animated.fadeInDown
    .h-container
        a.logo(href='/')
             img(src='/images/logo@2x.png')
        nav
            ul
                li
                    a(href='/') Profile
                li
                    a(href='/projects') Projects
                li
                    a(href='/stories') Stories
                li
                    a(href='/blog') Blog
                li
                    a(target='_blank' href='https://instagram.com/juliakhusainova') Instagram
                li
                    a(target='_blank' href='http://dribbble.com/juliakhusainova')
                        span.fi-social-dribbble
                li.last
                    a(target='_blank' href='https://twitter.com/juliakhusainova')
                        span.fi-social-twitter
                li.last
                    a(target='_blank' href='https://instagram.com/juliakhusainova')
                        span.fi-social-instagram
        #menu       
        #menu-dd.closed
            ul
                li
                    a(href='/') Profile
                li
                    a(href='/projects') Projects
                li
                    a(href='/stories') Stories
                li
                    a(href='/blog') Blog
