.section-social
    .h-container.social-links
        ul
            li
                a.fi-social-dribbble(target="_blank" href="http://dribbble.com/juliakhusainova") 
                strong Dribbble
            li
                a.fi-social-instagram(target="_blank" href="http://instagram.com/juliakhusainova")
                strong Instagram
            li#li-flickr
                a.fi-social-flickr(target="_blank" href="http://www.flickr.com/photos/62382074@N06/")
                strong Flickr
            li
                a.fi-social-linkedin(target="_blank" href="http://www.linkedin.com/pub/julia-khusainova/16/b28/111")
                strong LinkedIn
