#subscribe-form.form-shown
    h4 Subscribe to new stories
    p Be the among first to read about travel adventures
    form#mc-embedded-subscribe-form(action='//julia.us9.list-manage.com/subscribe/post-json?u=62e07b197dbbeb1e27d4d5225&id=793dbdfe81&c=?', method='get')
        input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder='your email')
        .btn.green
            a#mc-embedded-subscribe(href='#') Submit

#subscribe-successful.form-hidden
    h4 Check your email to confirm
    p You'll recieve a note when a new story is posted
    .subscribe-span
    .btn.green
        a(href='https://twitter.com/intent/tweet?text=Subscribe to new stories by @juliakhusainova  http://julia.im/stories' target='_blank') Tweet it out
