script(src='../js/lasttweet.js')

.section-twitter
  .tw-container
    .avatar
      img(src='/images/avatar2.png' width='80' height='80')
    .tweet-handle
      a(href='https://twitter.com/juliakhusainova' target='_blank') @juliakhusainova:
    p#tweets
    .btn
      a(href='https://twitter.com/juliakhusainova' target='_blank')
        span.fi-social-twitter &nbsp;Follow me
